<img src="{{ site.baseurl}}/images/bryanstearnsthumb.png" class="headshot" />
<p>
  I'm <strong>Bryan Stearns</strong>.<br />
  This is where I blog.<br />
  You can also find me on:
  <li>
    <a href="https://twitter.com/bryanstearns" target="_blank"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span> Twitter</a>,
  </li>
  <li>
    <a href="https://github.com/bryanstearns" target="_blank"><span class="icon icon--github">{% include icon-github.svg %}</span> GitHub</a>,
  </li>
  <li>
    <a href="https://www.linkedin.com/in/bryanstearns" target="_blank"><span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span> LinkedIn</a>, and
  </li>
  <li>
    <a href="http://portlandonfire.com/bryanstearns/" target="_blank"><span class="icon icon--portlandonfire">{% include icon-portlandonfire.svg %}</span> Portland On Fire</a>, or
  </li>
  <li>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
      <img src="{{ "/images/rss.png" | prepend: site.baseurl }}" class="rssicon"/>
      Subscribe via RSS</a>.
  </li>
</p>
