<img src="{{ site.baseurl}}/images/bryanstearnsthumb.png" class="headshot" />
<p>
  I'm <strong>Bryan Stearns</strong>.<br />
  This is where I blog.<br />
  <span class="also small">
    Me elsewhere:
    <a href="https://twitter.com/bryanstearns"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span></a>
    <a href="https://github.com/bryanstearns"><span class="icon icon--github">{% include icon-github.svg %}</span></a>
    <a href="https://www.linkedin.com/in/bryanstearns"><span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span></a>
  </span>
</p>
  You can also find me on
    <a href="https://twitter.com/bryanstearns">Twitter</a>,
    <a href="https://github.com/bryanstearns">GitHub</a>, and
    <a href="https://www.linkedin.com/in/bryanstearns">LinkedIn</a>, or
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe via RSS</a>.
